@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #575656;
    font-size: 30px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.call-container {
    padding-top: 20px;
}

.call {
    margin-bottom: 11px;
}

.list {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
}

.logo-university {
    display: flex;
    align-items: center;
}

.img-uni {
    padding-right: 30px;
}

.socials {
    padding-top: 18px;
    padding-left: 104px;
    cursor: pointer;
}

.socials a {
    text-decoration: none;
}

.request {
    background: #FE7B10;
    border-radius: 110px;
    color: #fff;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding: 8px 30px;
    gap: 10px;
    border: none;
    margin-top: 26px;
    cursor: pointer;
}

.navigation {
    background: #FE7B10;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    margin: 0px 190px;
}

.navigation-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 4px;
}

.navigation-item {
    text-decoration: none;
    color: #fff;
}

.promo {
    background: #575656;
    background-image: url(/img/promo.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.promo-text {
    color: #fff;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 122%;
    padding-top: 200px;
    padding-bottom: 48px;
    position: relative;
}

.promo-text-mini {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #fff;
    padding-bottom: 137px;
}

.text-blue {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 120%;
    color: #0092C8;
}

.subtract {
    position: absolute;
    top: 178px;
    right: 520px;
}

.opportunity {
    position: relative;
    padding-top: 160px;
    padding-bottom: 71px;
    background-image: url(/img/grey-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.opportunity::before {
    content: "";
    position: absolute;
    width: 720px;
    height: 60px;
    background: #0092C8;
    left: 0;
    top: 0;
}

.opportunity-text {
    position: relative;
    width: 610px;
}

.opportunity-text::before {
    content: "";
    position: absolute;
    width: 570px;
    height: 4px;
    background: #0092C8;
}

.opportunity-text p:first-child {
    padding-top: 40px;
}

.opportunity-text p:last-child {
    padding-top: 43px;
    padding-bottom: 43px;
}

.container-opportunity {
    position: relative;
}

.opportunity-text::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 140px;
    background: #008AD1;
    right: -227px;
    bottom: -135px;
}

.opportunity-text p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    color: #575656;
}

.up-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 70px;
    padding: 17px 11px;
    border: 1px solid #FE7B10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 110px;
    background-color: #fff;
    color: #FE7B10;
}

.up-arrow {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    padding-bottom: 5px;
}

.opportunity-img {
    position: absolute;
    top: 60px;
    right: 115px;
}

.course-stages {
    position: relative;
    margin-top: 115px;
}

.course-stages::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-color: #008AD1;
    right: 0;
    top: -116px;
}



.stages-title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 122%;
    text-align: right;
    padding-bottom: 60px;
}

.stages-title-bold {
    font-weight: 700;
}

.stage-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

.course-stages-colomns p,
ul {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

.course-stages-colomns ul {
    list-style-type: disc;
}

.course-stages-column-1 {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.course-stages-column-1 img {
    margin-right: 67px;
}

.course-stages-column-1 img {
    width: 136px;
    height: 100px;
}

.course-stages-colomns {
    position: relative;
    display: flex;
}

.course-stages-column-1::before {
    position: absolute;
    content: "";
    width: 410px;
    height: 4px;
    transform: rotate(90deg);
    left: -24px;
    background-color: #0092C8;
}

.stages-text li {
    padding-top: 20px;
    margin-left: 15px;
}

.course-stages-column-2 {
    max-width: 50%;
    padding-top: 50px;
    padding-left: 54px;
}

.second-stage {
    position: relative;
}

.second-stage div::before {
    position: absolute;
    content: "";
    width: 180px;
    height: 4px;
    background: #0092C8;
    transform: rotate(90deg);
    top: 89px;
    left: 102px;
}

.second-stage,
.third-stage {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
}

.second-stage img {
    margin-right: 68px;
    width: 145px;
    height: 100px;
}

.third-stage div::before {
    position: absolute;
    content: "";
    width: 180px;
    height: 4px;
    background: #0092C8;
    transform: rotate(90deg);
    top: 90px;
    left: 102px;
}

.third-stage {
    position: relative;
}

.third-stage img {
    margin-right: 68px;
    width: 145px;
    height: 100px;
}

.second-stage .stages-text {
    width: 359px;
}

.third-stage .stages-text {
    width: 359px;
}

.third-stage {
    margin-bottom: 61px;
}

.teaching-technique {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}

.teaching-technique::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    right: 0;
    top: -10px;
    background: #008AD1;
}

.teaching-technique-title {
    padding-bottom: 104px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 122%;
    text-align: right;
}

.teaching-technique-title-mini {
    font-weight: 400;
    size: 64px;
    line-height: 78px;
}

.teaching-technique-col-1 {
    padding-bottom: 60px;
}

.teaching-technique-col-1 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teaching-technique-col-1 li {
    width: 320px;
    height: 180px;
    display: flex;
    align-items: center;
}

.teaching-technique-col-1 li img {
    padding-right: 15px;
}

.teaching-technique-text .stages-text:last-child {
    padding-top: 20px;
}

.teaching-technique-col-2 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teaching-technique-col-2 li {
    width: 320px;
    height: 180px;
    display: flex;
    align-items: center;
}

.teaching-technique-col-2 li img {
    padding-right: 15px;
}

.terms {
    padding-top: 60px;
    margin-bottom: 489px;
    position: relative;
}

.terms::after {
    position: absolute;
    content: "";
    width: 790px;
    height: 372px;
    background: #575656;
    right: 0;
}

.terms-title {
    height: 140px;
    margin-bottom: 44px;
    padding-top: 32px;
    padding-left: 110px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    text-align: left;
    color: #fff;
    background-color: #9B9B9B;
}

.terms-text {
    width: 680px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    color: #575656;
}

.terms-text:first-child {
    padding-bottom: 33px;
}

.terms-img {
    position: absolute;
    top: 106px;
    right: 184px;
    z-index: 2;
}

.students-img {
    z-index: 1;
    position: absolute;
    bottom: -333px;
    left: 356px;
}

.teachers-title {
    margin-bottom: 28px;
    padding-top: 35px;
    height: 140px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    color: #fff;
    background: #A0D8F7;
}

.teachers-text {
    padding-bottom: 33px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 202%;
    text-align: center;
    color: #575656;
}

.teachers-text-mini {
    font-weight: 400;
    font-size: 20px;
    line-height: 40.4px;
}

.slider {
    padding-bottom: 60px;
}

.slider ul {
    display: flex;
}

.slider li img {
    padding: 0 42px 20px 42px;
}

.teacher-name {
    width: 196px;
    padding-left: 89px;
    padding-bottom: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 122%;
    text-align: center;
    color: #575656;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.teacher-name-last {
    padding-left: 105px;
}

.teacher-degree {
    width: 263px;
    padding-left: 33px;
    padding-bottom: 23px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #575656;
}

.teacher-degree-last {
    padding-left: 53px;
}

.teacher-position {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 122%;
    text-align: center;
    text-transform: uppercase;
    color: #0092C8;
}

.benefits {
    padding-top: 60px;
    position: relative;
}

.benefits-container {
    padding-bottom: 101px;
}

.benefits-col-1 {
    width: 549px;
    padding-top: 212px;
    padding-left: 40px;
}

.benefits-col-1-text {
    position: relative;
}

.benefits-col-1-text::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 4px;
    background: #0092C8;
    transform: rotate(90deg);
    left: -175px;
    top: 144px;
}

.benefits-col-1-text-main {
    padding-bottom: 30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #575656;
}

.benefits-col-1-text-upper {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
    color: #575656;
}

.benefits-col-1-text-upper-span {
    text-transform: none;
}

.benefits-container {
    display: flex;
}

.benefits-col-2 {
    width: 633px;
    position: relative;
}

.benefits-col-2 img {
    position: absolute;
    right: -153px;
    top: 0;
    z-index: -1;
}

.benefits-col-2-text {
    width: 420px;
    margin-left: 260px;
    padding-top: 72px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.benefits-col-2-text p {
    padding-bottom: 40px;
}

.goal-block {
    padding-bottom: 60px;
    padding-top: 122px;
    width: 690px;

}

.goal-container {
    position: relative;
    padding-left: 102px;
    padding-bottom: 122px;
}

.goal-text-bold {
    padding-bottom: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 122%;
    text-transform: uppercase;
    color: #575656;
}

.goal-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 122%;
    color: #575656;
}

.goal-text-italica {
    width: 600px;
    padding-bottom: 35px;
    font-family: 'Marck Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: #000000;
}

.goal-text-signuture {
    padding-bottom: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    color: #575656;
}

.goal-text-signuture-mini {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #575656;
}

.creator-img {
    position: absolute;
    top: 80px;
    right: -105px;
}

.payment-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.payment-title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    text-align: center;
    text-transform: uppercase;
    color: #575656;
    padding-left: 86px;
    padding-bottom: 40px;
}

.payment-colomns {
    display: flex;
}

.payment-col-1 {
    position: relative;
    width: 521px;
    padding-top: 106px;
    padding-left: 144px;
    margin-right: 36px;
}

.payment-col-1::before {
    position: absolute;
    content: "";
    width: 296px;
    height: 4px;
    transform: rotate(90deg);
    bottom: 226px;
    left: -25px;
    background: #0092C8;
}

.payment-col-1-text {
    padding-bottom: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 122%;
    color: #575656;
}

.payment-col-1-price {
    padding-bottom: 30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    color: #0092C8;
}

.payment-col-1--text-mini {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 152%;
    text-transform: uppercase;
    color: #575656;
}

.payment-col-1--text-mini-blue {
    text-transform: none;
    font-weight: 700;
    color: #0092C8;
}

.payment-col-2 {
    padding-top: 34px;
}

.payment-col-2-block {
    display: flex;
    margin-bottom: 20px;
}

.payment-col-2-block-first,
.payment-col-2-block-second {
    margin-right: 20px;
}

.certificate-container {
    padding-top: 60px;
}

.certificate-container img {
    margin-left: 63px;
    padding: 40px 274px 60px 274px;
}

.certificate-title::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    background: #0092C8;
    right: 506px;
    top: -39px;
}

.certificate-title {
    position: relative;
    padding-left: 118px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    text-align: center;
    color: #575656;
}

.socials-container {
    position: relative;
    padding-top: 36px;
    padding-left: 55px;
    padding-bottom: 60px;
}

.socials-container::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    top: 17px;
    background: #0092C8;
}

.socials-title {
    padding-bottom: 30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    text-transform: uppercase;
    color: #575656;
}

.socials-title-mini {
    text-transform: none;
}

.socials-text {
    width: 420px;
    padding-bottom: 60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #575656;
}

.socials-buttons {
    display: flex;
    justify-content: center;
}

.whatsapp-btn {
    margin-right: 14px;
    background: #27D061;
    border: none;
}

.whatsapp-btn img {
    padding: 16px 108px;
}


.telegram-btn {
    margin-right: 14px;
    background: #1D98DC;
    border: none;
}

.telegram-btn img {
    padding: 20px 108px;
}

.vk-btn {
    background: #0077FF;
    border: none;
}

.vk-btn img {
    padding: 16px 108px;
}

.footer {
    background-color: #000000;
}

.footer-list {
    padding: 36px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-list-mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.footer-list-mini p {
    margin-right: 50px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;

}

.contract {
    text-decoration: none;
    color: #fff;
}

.politic {
    margin-right: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    color: #FFFFFF;
    text-decoration: none;
}